.contact{
    display: flex;
    align-items: center;
    background-color: rgb(38, 30, 44);
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    margin: 10px;
}
.contact:hover{
    background-color: rgb(100, 85, 114);
}
.contact img{
    margin: 10px;
    width: 60px;
    padding: 2px;
    margin-right: 20px;
    background-color: aqua;
    border-radius: 100px;
}
.contact span{
    color: white;
    font-size: 16pt;
}