.config{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(38, 30, 44);
    cursor: pointer;
}
.config span{
    color: white;
    font-size: 12pt;
    text-decoration: none;
}
a{
    text-decoration: none;
}