.box{
    width: 500px;
    max-width: 70%;
    padding: 20px;
    background-color: rgb(49, 43, 56);
    border-radius: 10px;
}
.header-singup{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    color:  white;
}
.header-singup img{
    width: 85px;
}
.objs{
    width: 100%;
    display: grid;
    justify-content: center;
}
.default-input{
    width: 400px;
    display: block;
    margin-bottom: 30px;
    padding: 13px;
    border-radius: 10px;
    border: solid 3px rgb(92, 75, 112);    
    background-color: rgb(49, 43, 56);
    color: white;
    font-size: 11pt;
    transition: border-color 1s;
}
.default-input:focus{
    outline: none;
    border-color: rgb(137, 122, 155);
}
.default-input:hover{
    outline: none;
    border-color: rgb(137, 122, 155);
}
.submit-btn{
    width: 400px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 9px;
    border-radius: 10px;
    border: solid 0px rgb(92, 75, 112);    
    background-color: rgb(92, 75, 112);
    color: white;
    font-size: 11pt;
    transition: background-color 1s;
}
.submit-btn:hover{
    background-color: rgb(116, 103, 133);
}
.terms{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}